extends layout 


block content 
    p 
        img(src=hero.images.md)
    h2 #{hero.name}
    h2 Full name: #{hero.biography.fullName}
    h2 Place of birth: #{hero.biography.placeOfBirth}
    h2 Original Comic Publisher: #{hero.biography.publisher}