//- extends layout 


//- block content 
//-     h2 WELCOME TO COMIC WIKI!!! 



//-     h2 Popular Articles:    
//-     each hero in heroes    
//-             form(id='form' action="/comicpage/" + hero.slug method='get')
//-                 p 
//-                     input(type="text" disabled name="heroName" value=hero.name)

//-                 p
//-                     input(type="text" disabled hidden name="heroSlug" value=hero.slug)

//-                 p
//-                     input(type='image' src=hero.images.sm)
//-                 p





extends layout 


block content 
    h2 WELCOME TO COMIC WIKI!!! 
    table(class='gridtable' align="center")
        tr 
            th 
            th 
                h2 Popular Articles:    
            th 
                each hero in heroes 
                    tr
                        td   
                            form(id='form' action="/comicpage/" + hero.slug method='get')
                                p 
                                    input(type="text" disabled name="heroName" value=hero.name)
                                p
                                    input(type="text" disabled hidden name="heroSlug" value=hero.slug)
                                p
                                    input(type='image' src=hero.images.sm)
                                p
                        td   
                            form(id='form' action="/comicpage/" + hero.slug method='get')
                                p 
                                    input(type="text" disabled name="heroName" value=hero.name)
                                p
                                    input(type="text" disabled hidden name="heroSlug" value=hero.slug)
                                p
                                    input(type='image' src=hero.images.sm)
                                p
                        td   
                            form(id='form' action="/comicpage/" + hero.slug method='get')
                                p 
                                    input(type="text" disabled name="heroName" value=hero.name)
                                p
                                    input(type="text" disabled hidden name="heroSlug" value=hero.slug)
                                p
                                    input(type='image' src=hero.images.sm)
                                p



//- extends layout 


//- block content 
//-     h2 WELCOME TO COMIC WIKI!!! 

//-     table(class='gridtable')
//-         tr 
//-             th 
//-             th 
//-                 h2 Popular Articles:
//-             th 
//-                 each hero in heroes 
//-                     tr
//-                         td
//-                             //- a(href='/comicpage/' + hero.name) #{hero.name} 
//-                             form(id='form' action="/comicpage/" + hero.slug method='get')
//-                                 //- td #{hero.name}
//-                                 //- td 
//-                                 p 
//-                                     input(type="text" disabled name="heroName" value=hero.name)
//-                                 p
//-                                     input(type="text" disabled hidden name="heroSlug" value=hero.slug)
//-                                 p
//-                                     input(type='image' src=hero.images.sm)
//-                                 p





                        
                            //- form(id='form' action="/comicpage/" + hero.name method='get')
                                //- p 
                                //-     input(type="text" disabled name="heroName" value=hero.name)
                                //- p
                                //-     input(type='image' src=hero.images.sm)
                                //- p





