doctype 
html 
    head 
        title=title 
        link(href='/style.css' rel='stylesheet') 
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap' rel='stylesheet')

    body 
        header
            ul(class="title_head")
                div(id='divider')
                    div(id='leftSidetop')
                    div(id='centerSidetop')
                        img(src="/POW.png" width=160)
                    div(id='rightSidetop')
                        form(id='form' action="/results" method='post' style="float: right;")
                            p 
                                input(type="text" name="searchText") 
                                input(type='submit' name="searchBut" value="Search")


                            
                li(id="stuff")
                    h2 Comic Book Wiki
                



            nav 
                ul 
                    each item in config.menu
                        a(href=item[1] target=item[2])
                            div(class='menu_item')
                                li(id=item[0]) #{item[0]}

block content
